.pcard{
    
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    // background: #0000000b;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    width: 23%;
    margin-bottom: 2%;
     @media (max-width: 767px) {
         width: 32%;
          
             }
    img{
        width: 80%;
        height: 70%;
        object-fit: cover;
        object-position: center;
    }
    p{
        font-size: 20px;
        font-weight: 400;
        @media (max-width: 767px) {
          font-size: 15px;
          font-weight: 300;
          
             }
    }
}

a{
    width: fit-content;
    height: fit-content;
    
}
